html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-image: url("img/clouds.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #2e86c1;
    font-family: 'Dosis', sans-serif;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 0px #000;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 3em;
    margin: 0;
}

a {
    text-decoration: none;
    color: #2e86c1;
	font-family: 'Dosis', sans-serif;
}

a:hover {
    color: #678d9f;
}

#logo {
	display: block;
	margin: 0 auto;
	padding-top: 2em;
}

/*
=============================================================
    Bar at the bottom
*/

#bar {
    width: 100%;
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: 0;
    padding: 7px;
    background-color: #262626;
}

#bar section {
    display: block;
    float: left;
}

#rightSide {
    float: right;
    width: 50%;
    display: block;
    padding-left: 20px;
}

#credits {
    float: right !important;
}

#credits > a {
    color: #678d9f;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

#credits > a:hover {
    text-decoration: underline;
    color: inherit;
}

.control {
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 5px;
}

.control > i {
    transition: all 0.3s ease-out;
}

.control:hover > i {
    color: #678d9f;
}

/* The progressbar */

progress[value] {
  /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0px;
    top: -3px;
    outline: none;
    border: none;
}

progress[value]::-moz-progress-bar,
progress[value]::-webkit-progress-bar {
    background: inherit;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: #2e86c1;
}

/*
================================================================
    Volume control
*/

#volume:hover {
    color: #678d9f;
}

#volume:hover > #volume-container {
    display: block;
}

#volume-container {
    background-color: #262626;
    display: none;
    height: 150px;
    width: 22px;
    position: absolute;
    bottom: 20px;
    overflow-x: hidden;
}

#volume-container > input[type=range],
#volume-container > input[type=range]:active,
#volume-container > input[type=range]:visited,
#volume-container > input[type=range]:focus {
    outline: none;
    border: none;
}

#volume-container > input[type=range] {
    cursor: pointer;
    -webkit-appearance: none;
    background: inherit;
    position: absolute;
    top: 60px;
    left: -65px;
    height: 22px;
    width: 148px;
    -webkit-transform: rotate(270deg);
}

#volume-container > input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #2e86c1;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}

/*
====================================================================
    Current Playlist
    Display songs of current playlist / can click one to jump to
*/

#music-icon:hover > #playlist-container {
    display: block;
}

#playlist-container {
    position: absolute;
    bottom: 23px;
    left: 30px;
    min-height: 20px;
    min-width: 250px;
    background-color: #262626;
    text-align: left;
    display: none;
}

#playlist-container > .song {
    width: 100%;
    border-bottom: 1px solid #2e86c1;
    display: block;
    box-sizing: border-box;
    padding-top: 0.7em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#playlist-container > .song > a {
    cursor: pointer;
}

#playlist-container > .song > a:hover {
    color: #678d9f;
}

/*
	Change the background image.
*/

#back-change {
	position: fixed;
	top: 1em;
	left: 1em;
}

#back-change:hover #images {
	display: block;
}

#images {
	display: none;
	transition: all 0.3s ease-out;
}

#images img{
	width: 4em;
	height: auto;
	border: 1px solid #464646;
	display: block;
	margin-bottom: 0.5em;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

#images img:hover {
	box-shadow: 0px 0px 2px 0px #000;
}