html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-image: url("clouds.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #2e86c1;
    font-family: 'Dosis', sans-serif;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 0px #000;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 3em;
    margin: 0;
}

a {
    text-decoration: none;
    color: #2e86c1;
}

/*
=============================================================
    Bar at the bottom
*/

#bar {
    width: 100%;
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: 0;
    padding: 7px;
    background-color: #262626;
}

#bar section {
    display: block;
    float: left;
}

#rightSide {
    float: right;
    width: 50%;
    display: block;
    padding-left: 20px;
}

#credits {
    float: right !important;
}

#credits > a {
    color: #678d9f;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

#credits > a:hover {
    text-decoration: underline;
    color: inherit;
}

.control {
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 5px;
}

.control > i {
    transition: all 0.3s ease-out;
}

.control:hover > i {
    color: #678d9f;
}

/* The progressbar */

progress[value] {
  /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0px;
    top: -3px;
    outline: none;
    border: none;
}

progress[value]::-moz-progress-bar,
progress[value]::-webkit-progress-bar {
    background: inherit;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: #2e86c1;
}

/*
    Volume control
*/

#volume:hover > #volume-container {
    display: block;
}

#volume-container {
    background-color: red;
    display: none;
    height: 150px;
    width: 20px;
    position: absolute;
    bottom: 20px;
}